* {
    box-sizing: border-box;
}

html,
body,
#root {
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background: #50747c;
}

canvas {
    width: 100svw;
    height: 100svh;
    cursor: grab;
}

canvas:active {
    cursor: grabbing;
}

.joystick {
    position: absolute;
    z-index: 2000;
    bottom: 2px;
    right: 2px;
}